
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Interview Scheduled by <%= @user.name %>!</p>
    <p>
    Interview Details<br>
    --------------------------
    </p>
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
    <p>interviewDateTime: <%= @user.interviewDateTime %></p>
    <p>Phone: <%= @user.phoneNumber %></p>
    <p>
    ----------
    </p>
  </body>
</html>