<%= form_with(model: admin) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
        <% admin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Schedule Name"%>
    <%= form.text_field :scheduleName %>
    <%= form.label "Date Range (YYYY-MM-DD:YYYY-MM-DD)"%>
    <%= form.text_field :dateRange%>
    <%= form.label "Time Range (XX:XXam - XX:XXpm)"%>
    <%= form.text_field :timeRange%>
    <%= form.label "Interview Length (mins)"%>
    <%= form.text_field :interviewLength%>
    <%= form.label "Break every __ interviews"%>
    <%= form.text_field :numBreaks%>
    <%= form.label "Number of Rooms"%>
    <%= form.text_field :numRooms%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
