<p id="notice"><%= notice %></p>

<center>
<h1>Interviews scheduled:</h1>
</center>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Interview Date</th>
      <th>Interview Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% #latest_date = ""%>
    <% #@admins.each do |admin| %>
      <% #latest_date = admin.dateRange %>
    <% #end %>
    <% #start_date = latest_date.split(/:/)[0] %>
    <% #end_date = latest_date.split(/:/)[1] %>

    <% dt_array = [] %>
    <% @users.sort_by(&:interviewDateTime).each do |user| %>
      <% dt_array.push([user.interviewDateTime.split(/,/)[0], user.interviewDateTime.split(/,/)[1], user]) %>
    <% end %>

    <% dt_array.each do |dt| %>
      <% if dt[1].to_s.include? "am"%> 
        <% dt[1] = dt[1].split(/:/)[0].to_i + dt[1].split(/:/)[1].to_i/60 %>
      <% elsif dt[1].to_s.include? "pm"%> 
        <% if dt[1].split(/:/)[0].to_i == 12%> 
          <% dt[1] = dt[1].split(/:/)[0].to_i + dt[1].split(/:/)[1].to_i/60 %>
        <% else %>
          <% dt[1] = dt[1].split(/:/)[0].to_i + 12 + dt[1].split(/:/)[1].to_i/60 %>
        <% end %>
      <% end %>
      <% dt[1] = dt[1].to_i %>
    <% end %>


    <% dt_array = dt_array.sort_by {|d,t| [d, t]} %>

    <% #@users.sort_by(&:interviewDateTime).each do |user| %>
    <% dt_array.each do |l| %>
      <% user = l[2] %>
      <% #if user.interviewDateTime.split(/,/)[0] >= start_date.to_s and user.interviewDateTime.split(/,/)[1] <= end_date.to_s %>
        <% #next %>
      <% #end %>

      <tr>
        <td><%= user.name %></td>
        <td><%= user.phoneNumber %></td>
        <td><%= user.email %></td>
        <td><%= user.interviewDateTime.split(/,/)[0] %></td>
        <td><%= user.interviewDateTime.split(/,/)[1] %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
<h1>Create new schedule:</h1>
</center>

<table>
  <thead>
    <tr>
      <th>Schedule Name</th>
      <th>Date Range</th>
      <th>Time Range</th>
      <th>Interview Length</th>
      <th>Break after how many interviews</th>
      <th>Number of rooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.scheduleName %></td>
        <td><%= admin.dateRange%></td>
        <td><%= admin.timeRange%></td>
        <td><%= admin.interviewLength%></td>
        <td><%= admin.numBreaks%></td>
        <td><%= admin.numRooms%></td>
        <td><%= link_to 'Show', admin %></td>
        <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
        <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_admin_path %>
