<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :required => true %>
    <%= form.label :phoneNumber %>
    <%= form.text_field :phoneNumber, :required => true %>
    <%= form.label :email %>
    <%= form.text_field :email, :required => true %>
    <% User.list_days_and_times.each do |date_time| %>
      <%= form.label "Interview Date and Time"%>
      <%= form.radio_button :interviewDateTime, [date_time] %> <%= date_time %><br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

