<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <strong>Phone Number:</strong>
  <%= @user.phoneNumber %>
  <strong>Email:</strong>
  <%= @user.email %>
  <strong>Interview Date:</strong>
  <%= @user.interviewDateTime.split(/,/)[0] %>
  <strong>Interview Time:</strong>
  <%= @user.interviewDateTime.split(/,/)[1] %>
</p>

<%= link_to 'Back', users_path%>
