<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name%>
</p>
<p>
  <strong>Time:</strong>
  <%= @book.time%>
</p>
<p>
  <strong>Interviewer:</strong>
  <%= @book.interviewer%>
</p>
<p>
  <strong>Room:</strong>
  <%= @book.room%>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @book.phoneNumber%>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
