<h1>Admin page</h1>

<p><label for = "zlp_time">Enter time</label>
<%= text_field(:time)%></p>

<p><label for = "zlp_day_start">Enter day start</label>
<%= date_select(:day_start)%></p>

<p><label for = "zlp_day_end">Enter day end</label>
<%= date_select(:day_end)%></p>

<%= submit_tag "Create Book" %>

<%= link_to 'Back to Main Page', books_path %> <!--need to change path name-->
